{% extends "base.html" %}

{% block content %}


<h4>How does it work?</h4>

<div class="about">

<p><img src="https://cryptopal.s3.amazonaws.com/images/postie.jpg" class="image-vertical small-width">Find a new pal's contact email and public key ID. In return, offer your own for someone else.</p>

<p>Then just email them to practice your encryption skills whilst getting to know someone else who cares about digital self-defense.</p>

</div>

<h4>What is my Key ID?<a name="KeyID">&nbsp;</a></h4>

<div class="about">

<p>Your public key is quite long so it's useful to have a shorthand to reference it. The Key ID is one such reference. You can use your Key ID to search for your details on public keyservers, such as the <a href="http://pgp.mit.edu/">MIT Public Key server</a>. These keyservers are a good place to publically list your key so that anyone can encrypt mail to you if they have your email address or Key ID.</p>

<p>Here is an example of the Key ID format: <strong>0xaadf931610a62df8</strong></p>

</div>

<h4>Under construction</h4>

<div class="about">

<p>This site is under active development. It went live in February 2014 and will see major improvements in the coming months. Please let us know if <a href="mailto:info@cryptopals.org">you can help, have questions or notice that a listed cryptopal is non-responsive</a>.</p>

</div>

<h4>Support this project</h4>

<div class="about">

<p>We hope to improve and expand this site as a community resource for email encryption. Please share with your networks and support the project.</p>

  <div id="shares">
  	<p>
	    <ul id="social">
	        <li><a href="http://twitter.com/share" class="socialite twitter-share" data-text="Get a pen pal to share encrypted email with" data-url="http://www.cryptopals.org" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a></li>
	        <li><a href="https://plus.google.com/share?url=http://www.cryptopals.org" class="socialite googleplus-one" data-size="tall" data-href="http://www.cryptopals.org" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a></li>
	        <li><a href="http://www.facebook.com/sharer.php?u=http://www.cryptopals.org&amp;t=Get%20a%20pen%20pal%20to%20share%20encrypted%20email%20with%20at%20www.cryptopals.org" class="socialite facebook-like" data-href="http://www.cryptopals.org" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a></li>
<!-- 	        <li><a class="FlattrButton" style="display:none;" title="Find a friendly, encrypted email penpal." data-flattr-uid="Mattguy" data-flattr-tags="communities, encryption, Snowden" data-flattr-category="text" href="http://www.cryptopals.org"><img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></li> -->
	    </ul>
	</p>
  </div>
  <br /><br /><br /><br />

<p><a href="bitcoin:1AvQwcMqNXGRZbHYhxMa3DgZ3Ce9rdLx3V?label=Donation">Donate with bitcoin&rarr;</a></p>

<p><a href="mailto:info@cryptopals.org">Please let us know</a> of other offers of support, particularly publicity, web hosting and development.</p>

</div>

<h4>Is encryption worth it?</h4>

<div class="about" id="encryption-worth-it">

<p>People may say that small-scale efforts, such as cryptopals.org, to encourage and assist encryption uptake are insignificant compared to the amount of uptake necessary.</p>

<p>Some say that we need slicker, convenient email encryption provision from big companies to achieve real privacy in society. Such an outcome, if brought about with honest, credible technical implementation, would be ideal.</p>

<div class="image-horizontal caption small-width"><img src="https://cryptopal.s3.amazonaws.com/images/email-data-ads-biz.png" class="full-width"><div class="caption">The marketing value of your data is seen in the ads that surround your emails.</div></div>

<p>That ideal would incorporate <a href="http://darkmail.info/">true end-to-end, user-to-user email encryption</a>, not merely a secure connection to, from and between data centres.</p>

<p>But it would also, probably, rely on those companies sacrificing a chief element of their business model, that is, the ability to mine user email data, content and all, for its marketing value.</p>

<p>Even if it were to happen, it would likely be thanks to demand. That demand will grow as people are helped to increase their use of encryption. The more ordinary folks encrypt, the greater demand will be.</p>

<p>So, tools which help people upskill together help support a positive transition.</p>

</div>

{% endblock %}